*{
	font-family: 'Raleway', sans-serif;
}
html{
	text-rendering: optimizeLegibility;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}

h1{
	font-size: 70px;
	letter-spacing: 2px;
}

h2{
	font-size: 50px;
	letter-spacing: 2px;
}

/* h2{
	font-size: 50px;
	letter-spacing: 2px;
	margin-left: 32%;
	display: inline-block;
} */


h3{
	font-size: 35px;
	letter-spacing: 1px;
}

/* Navigation Bar */

.logo{
	height:100px;
	width:auto;
	float:left;
	margin-top:20px;
}

.main-nav{
	font-family: 'Raleway', sans-serif;
	float: right;
	list-style: none;
	margin-top: -60px;
	margin-left: 70%;
}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	padding: 8px 0;
	transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 2px solid #4b99ff;
}

.landing{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../public/images/bg.jpg);
	background-size: cover;
	background-position: center;
	height: 120vh;
}

.aboutUs{
	font-family: 'Raleway', sans-serif;
}

.works-step:last-of-type{
	margin-bottom: 30px;
}

.works-step div{
	color:#fff;;
	font-size: 150%;
	height:54px;
	width:54px;
	border:2px solid #4b99ff;;
	border-radius: 50%;
	text-align: center;
	padding: 5px;
	display: inline-block;
	float: left;
	margin-right: 25px;
}

.works-step{
	margin-bottom: 20px;
}
.works-step p{
	margin-top: 15px;
}
button{
	border-radius: 10px;
	width: 250px;
}

/* Login */
.sidebar {
	height: 100%;
	background-color: #000;
	overflow-x: hidden;
	padding-top: 20px;
}
.main-text{
	margin-top: 20%;
	padding: 60px;
	color: #fff;
}
.main-text h2{
	font-weight: 300;
}
.main {
	padding: 0px 10px;
}
.logo-login{
	margin-left: 50px;
	margin-top: 70px;
}

.btn-black{
	background-color: #000 !important;
	color: #fff;
	height: 50px;
}


/* owner dashboard */
.card{
	width: 25rem;
	margin: 0 auto;
}

/* Add Car */
#issue-form{
	width: 50%;
	/* border: 1px solid red; */
	/* margin-left: 26%; */
	margin-left: 38%;
}
.form-control{
	width: 100%;
}

#issue-form .form-control{
	width: 80%;
}
.logout{
	margin-left: 20%;
	width:10%
}

/* Responsivness */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
 }
 
 @media screen and (max-width: 450px) {
	.login-form{
	    margin-top: 30%;
	}
 }
 
 @media screen and (min-width: 768px){
	.main{
	    margin-left: 40%; 
	}
 
	.sidebar{
	    width: 40%;
	    position: fixed;
	    z-index: 1;
	    top: 0;
	    left: 0;
	}
 
	.login-form{
	    margin-top: 55%;
	    margin-left: 30%; 

	}
 }
