html{
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}

h1{
	font-size: 70px;
	letter-spacing: 2px;
}

h3{
	font-size: 35px;
	letter-spacing: 1px;
}

/* Navigation Bar */

.logo{
	height:100px;
	width:auto;
	float:left;
	margin-top:20px;
}

.main-nav{
	font-family: 'Raleway', sans-serif;
	float: right;
	list-style: none;
	margin-top: -60px;
	margin-left: 70%;
}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	padding: 8px 0;
	transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 2px solid #4b99ff;
}

.landing{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../public/images/bg.jpg);
	background-size: cover;
	background-position: center;
	height: 120vh;
}

.aboutUs{
	font-family: 'Raleway', sans-serif;
}

.works-step:last-of-type{
	margin-bottom: 30px;
}

.works-step div{
	color:#fff;;
	font-size: 150%;
	height:54px;
	width:54px;
	border:2px solid #4b99ff;;
	border-radius: 50%;
	text-align: center;
	padding: 5px;
	display: inline-block;
	float: left;
	margin-right: 25px;
}

.works-step{
	margin-bottom: 20px;
}
.works-step p{
	margin-top: 15px;
}
button{
	border-radius: 10px;
	width: 250px;
}

/* Responsivness */
@media only screen and (max-width: 801px) {

}